.InputGroup {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.InputGroup input {
  width: 100%;
  margin-block: 1rem;

  color: var(--color-accent-300);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-accent-300);
}

.InputGroup input::placeholder {
  color: var(--color-accent-300);
}

.InputGroup input:focus {
  outline: none;
}

.InputGroup input:-webkit-autofill,
.InputGroup input:-webkit-autofill:hover, 
.InputGroup input:-webkit-autofill:focus, 
.InputGroup input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-accent-300) !important;
}