/* Main Containers */
.main-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  position: relative;
  min-height: var(--mobile-height);
  width: 100vw;

  transform: translateY(80px);

  z-index: 0;
}

/* Heading CSS */
.heading {
  text-transform: uppercase;
  color: var(--color-primary-100);
}

/* text colors */
.primary {
  color: var(--color-primary-300);
}

.accent {
  color: var(--color-accent-300);
}

.light {
  color: var(--color-primary-100);
}

.dark {
  color: var(--color-primary-700);
}

/* Text Sizing */
.small {
  font-size: .8rem;
}

.medium {
  font-size: 1.2rem;
  font-weight: 600;
}

.large {
  font-size: 1.8rem;
}

.x-large {
  font-size: 2.3rem;
  font-weight: 600;
}

/* font weight */
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

/* Text Align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}